@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .navBar__link:hover{
        color:#822d37 ;

    }
    .navBar__link:after{
        position:absolute;
        content:"";
        background-color: #940e1e;
        height:3px;
        width: 50px;
        bottom: -5px;
        left:  0 ;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;

    }
    .navBar__link:hover::after{
        scale: 1;
    }
    
}
